.board {
    display: grid;
    grid-template-columns: repeat(10, 2em);
    grid-template-rows: repeat(10, 2em);
}

.cell {
    width: 2em;
    height: 2em;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ship {
    /*z-index: 2;*/
    cursor: grab;
    width: 2em;
    height: 2em;
    background: coral;
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ship[data-size="2"] {width: 4em}

.draggable {
    width: 25%;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
}